<h1>Aplicación de ejemplos</h1>

<ng-template [appUnless]="respuesta">
    <p>
        Prueba
    </p>
</ng-template>

<p *appUnless="respuesta">
    Prueba
</p>

<p>{{ hoy | fecha }}</p>
<p appIluminar>{{ hoy | fecha:'corto' }}</p>
<p appIluminar="green">{{ hoy | date:'yyyy-M-d'}}</p>

<app-componente2></app-componente2>
<app-componente1></app-componente1>

<div [ngSwitch]="valor">
    <p *ngSwitchCase="1">UNO</p>
    <p *ngSwitchCase="2">DOS</p>
    <p *ngSwitchCase="3">TRES</p>
    <p *ngSwitchDefault>OTRO</p>
</div>


<ul>
    <li *ngFor="let elemento of elementos; let i=index">{{i + 1}}: {{elemento}}</li>
</ul>

<app-confirmar (respuestaRecibida)="onRespuestaRecibida($event)"></app-confirmar>

<div>
    <ng-container *ngIf="respuesta === true else respuestaNegativa">
        La respuesta ha sido positiva
    </ng-container>
    <ng-template #respuestaNegativa>
        La respuesta ha sido negativa
    </ng-template>
</div>

<div *ngIf="respuesta === true else respuestaNegativa">
    La respuesta ha sido positiva
</div>
<ng-template #respuestaNegativa>
    <div>
        La respuesta ha sido negativa
    </div>
</ng-template>

<app-simple [mensaje]="title"></app-simple>