<h1>Aplicación de ejemplos</h1>

<app-componente2></app-componente2>
<app-componente1></app-componente1>

<div [ngSwitch]="valor">
    <p *ngSwitchCase="1">UNO</p>
    <p *ngSwitchCase="2">DOS</p>
    <p *ngSwitchCase="3">TRES</p>
    <p *ngSwitchDefault>OTRO</p>
</div>


<ul>
    <li *ngFor="let elemento of elementos; let i=index">{{i + 1}}: {{elemento}}</li>
</ul>

<app-confirmar (respuestaRecibida)="onRespuestaRecibida($event)"></app-confirmar>

<div *ngIf="respuesta === true else respuestaNegativa">
    La respuesta ha sido positiva
</div>
<ng-template #respuestaNegativa>
    <div>
        La respuesta ha sido negativa
    </div>
</ng-template>

<app-simple [mensaje]="title"></app-simple>