<h2>{{mensaje}}</h2>

<ul>
    <li>{{tarea.id | i18nPlural:mapeadoPlurales}}</li>
    <li>{{tarea.descripcion | titlecase | slice:0:15}}... {{tarea.descripcion | i18nSelect:mapeadoTarea | uppercase}}</li>
    <li>{{tarea.fechaFinalizacion | date:'medium':'+0200':'es-ES'}}</li>
    <li>{{tarea.importe | currency:'EUR':'symbol':'1.2-2':'es-ES'}}</li>
</ul>

<pre>{{ tarea | json }}</pre>

<pre>{{ tarea | keyvalue | json }}</pre>

<p>Id de la segunda tarea: {{ tarea2?.id }}</p>

<input #texto />

<button (click)="cambiarMensaje(texto.value)">Cambiar mensaje</button>

<input #fecha type="datetime-local" value="{{tarea.fechaFinalizacion | date:'yyyy-MM-ddTHH:mm:ss'}}"/>

<button (click)="cambiarFecha(fecha.value)">Cambiar fecha</button>